<header class="header container">
    <div class="header__logo">
      <a href="/">
        <img src="/images/logo.png" alt="Marie Jackson's logo" class="header__logo-img">
      </a>
    </div>
    <ul class="header__links">
      <li>
        <a class="header__link" href="/about">About</a>
      </li>
      <li>
        <a class="header__link" href="/projects">Works</a>
      </li>
      <li>
        <a class="header__link" href="/contact">Contact</a>
      </li>
    </ul>
</header>