<section class="profile">
  <div class="profile__card">
    <h2 class="profile__text profile__text--lead gradient-text"><span class="profile__text--highlight">Hi there!</span></h2>
    <p class="profile__text">I'm Décáye (DK), a multidisciplinary designer and no-code developer focused on <span class="profile__text--emphasis">responsible</span> and <span class="profile__text--emphasis">thoughtful</span> design. </p>
    <p class="profile__text">Comitted to impactful initiatives that promote social and environmental well-being.<p>
    <p class="profile__text">So don't hesitate to <a class="profile__link" href="/contact">get in touch</a>.</p>
  </div>
  <div class="profile__image-wrapper">
    {% EleventyImage "/images/profile.jpg", "Décáye (DK), Product Designer", "(min-width: 16em) 50vw, 100vw" %}
  </div>
</section>